[submodule "vendor/xz"]
	path = vendor/xz
	url = https://github.com/bbqsrc/xz.git
	branch = v5.2
[submodule "vendor/libarchive"]
	path = vendor/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "vendor/hfst-ospell"]
	path = vendor/hfst-ospell
	url = https://github.com/bbqsrc/hfst-ospell
